* {
    user-select: none;
    -webkit-user-select: none;
}

html:has(dialog[open]) {
    overflow-y: hidden;
    scrollbar-gutter: stable;
}

body,
html {
    overflow-x: hidden;
}

main {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

dialog {
    overflow: hidden;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

dialog::backdrop {
    transition: opacity 0.5s ease;
    opacity: 1;
}

dialog[closing]::backdrop {
    opacity: 0; /* Fade out the backdrop */
}

p,
h1,
h2,
h3,
a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h1,
a {
    color: white;
}

a {
    outline: none;
    cursor: pointer;
}

h1 {
    font-size: calc(0.5rem + 2vw);
}

p,
h2 {
    color: black;
    line-height: 1.25;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #494e37;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .loading-image {
        width: 10%;
        height: auto;
        visibility: hidden;
    }
}

.titel {
    display: flex;
    padding-left: 5%;
    align-items: center;
}

.flex,
.pin {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.flex {
    justify-content: center;
    gap: 50px;

    h1 {
        padding-left: 0;
    }
}

.kaartje,
.kaartje2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
}

.kaartje {
    z-index: 2;
}

.kaartje2 {
    z-index: 1;
}

.container {
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .vertical-line {
        width: 3px;
        height: 400px;
        background-color: white;
    }

    .counter {
        font-family: 'Oswald', sans-serif;
        font-size: calc(0.2rem + 1vw);
        color: white;
    }
}

.postzegel {
    max-width: 35%;
    max-height: 35%;
    min-width: 10%;
    min-height: 10%;
    cursor: pointer;
}

.footer {
    height: 100px;

    .logo {
        width: 80%;
        height: auto;
    }
}

.envelop {
    width: auto;
    height: 80vh;
}

dialog h2,
dialog h3,
dialog img {
    cursor: default;
}

.postzegelNieuw {
    position: absolute;
    top: 8%;
    right: 6%;
    width: 14%;
    height: auto;
}

dialog p,
dialog h2,
dialog h3,
.dialogImg,
.content {
    position: absolute;
}

dialog p {
    width: 65%;
    top: 10%;
    left: 8%;
    font-size: calc(0.6rem + 0.5vw);
}

dialog h2, dialog h3 {
    font-size: calc(0.5rem + 0.5vw);
}

dialog a {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 500;
    font-size: calc(1rem + 0.5vw);
}

.dialogImg {
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%);
}

.img1 {
    top: 64%;
    left: 28%;
}

.img2 {
    top: 64%;
    left: 72%;
}

.date {
    right: 9%;
    top: 31%;
}

.cacao .date {
    right: 7.5%;
    top: 31%;
}

.program {
    left: 8%;
    bottom: 7%;
}

.persoonlijk {
    h3 {
        font-weight: 600;
    }

    .h3Cafe {
        top: 31%;
        left: 18.5%;
        transform: rotate(7deg);
    }

    .h2Cafe {
        top: 35%;
        left: 18%;
        transform: rotate(7deg);
    }

    .h3Blender {
        top: 32%;
        left: 64%;
        transform: rotate(357deg);
    }

    .h2Blender {
        top: 36%;
        left: 69%;
        transform: rotate(357deg);
    }

    .img1, .img2 {
        top: 58%;
    }
}

.small {
    display: none;
}

@media (max-width: 1000px) {
    .flex {
        width: 95vw;
        padding-left: 2%;
    }
}

@media (max-width: 768px) {
    main {
        display: none;
    }

    .small {
        width: 100vw;
        height: 100vh;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}